<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Data.WPF" version="17.3.0.17" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="17.3.0.17" targetFramework="net46" />
  <package id="Syncfusion.SfGrid.WPF" version="17.3.0.17" targetFramework="net46" />
  <package id="Syncfusion.Shared.WPF" version="17.3.0.17" targetFramework="net46" />
</packages>